*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

ul,li,menu{
    list-style: none;
}

/* row and col */

.row{
    display: flex;
    flex-wrap: wrap;
}
/* header */
header{
    background-color: aqua;
}

nav{
    background-color: orange;
}

/*  debug */

.debug .container{
    border: 2px solid black;   
}

.debug .row{
    border: 2px solid red;
}