*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    width: 1000px;
    margin: 0 auto;
}


/* row and col */

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-3{
    flex-basis: calc(100% / 4);
}

.col-6{
    flex-basis: calc(100% / 2);
}
/* header */
header{
    background-color: aqua;
}

nav{
    background-color: orange;
}
.nav-bar{
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-bar__content{
    padding: 10px;
}
 .nav-bar__login{
    text-align: right;
 }
 .nav-bar__links{
    text-align: center;
 }

/*  debug */

.debug .container{
    border: 2px solid black;   
}

.debug .row{
    border: 2px solid red;
}

.debug [class^='col-']{
    border: 1px solid green;
}